@font-face {
  font-family: "Roland";
  src: url("./fonts/tr-909.woff") format("woff");
}

.App {
  background-color: #1d2951;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.title {
  color: #ff8c00;
  text-align: center;
  font-family: Roland;
}
.display {
  background-color: #2a2720;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 400px;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 8px;
}
