@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
@font-face {
  font-family: "Roland";
  src: url("./assets/fonts/tr-909.woff") format("woff");
}

@font-face {
  font-family: "title";
  src: url("./assets/fonts/serifgothicbq-black.woff") format("woff");
}

@font-face {
  font-family: "DSEG14-Classic";
  src: url("https://cdn.jsdelivr.net/npm/dseg@0.43.0/fonts/DSEG14-Classic/DSEG14Classic-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/npm/dseg@0.43.0/fonts/DSEG14-Classic/DSEG14Classic-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/npm/dseg@0.43.0/fonts/DSEG14-Classic/DSEG14Classic-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

.App {
  background-color: #1d2951;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  color: #ff8c00;
  text-align: right;
  font-family: "Roland";
}

.pads-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 400px;
}

.drum-pad {
  height: 100px;
  width: 100px;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 2px solid black;
  border-radius: 8px;
}

.display {
  text-align: center;
  color: #daf6ff;
  text-shadow: 0 0 28px #0aafe6, 0 0 25px rgba(10, 175, 230, 0);
  height: 50px;
  width: 180px;
  font-family: "DSEG14-Classic";
  /* padding: 0.8em; */
  background-color: #161616;
  font-size: 0.5em;
  transition-duration: 1s;
}

.container {
  background-color: #2a2720;
  -webkit-box-shadow: 15px 8px 13px -1px rgba(0, 0, 0, 0.48);
  box-shadow: 15px 8px 13px -1px rgba(0, 0, 0, 0.48);
  width: 630px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 0.2fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "header-title header-title"
    "diplay-credit pads";
}
.header-title {
  grid-area: header-title;
}
.diplay-credit {
  grid-area: diplay-credit;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.credit {
  text-align: center;
  color: #edeacc;
}
.credit h3 {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 1.2em;
  line-height: normal;
  font-family: "Suez One", serif;
}
.credit p {
  font: italic lighter 0.8em "Suez One", serif;
  font-style: italic;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: lighter;
  font-stretch: normal;
  font-size: 0.8em;
  line-height: normal;
  font-family: "Suez One", serif;
  color: #c73a30;
  justify-self: center;
}
#certification,
#portfolio {
  text-decoration: none;
  color: inherit;
}

.pads {
  grid-area: pads;
  display: flex;
  justify-content: center;
  align-items: center;
}
#name {
  overflow: hidden;
  *zoom: 1;
  text-align: left;
  padding: 12px 0px 30px 0px;
}
#name h1,
#name h2 {
  margin: 0;
}
#name h1 {
  padding-left: 10px;
  width: 618px;
  color: #fb802e;
  border-bottom: 3px solid #fb802e;
  font-family: "title";
  font-size: 36px;
  font-weight: normal;
  line-height: 30px;
  text-shadow: 1px 1px #191919;
  -moz-box-shadow: 0 1px #2c2c2c;
  -webkit-box-shadow: 0 1px #2c2c2c;
  box-shadow: 0 1px #2c2c2c;
}
#name h1 span {
  font-size: 24px;
  margin: 0 80px 0 20px;
}
#name h2 {
  clear: both;
  float: right;
  margin-top: 4px;
  margin-right: 40px;
  color: #edeacc;
}

